[2019-01-01 13:24] bartlomieju opened #1 "Add Travis CI for tests"
It would be great if travis was set up and badge added to README.

[2019-01-01 16:02] keroxp opened #3 "Streams"

[2019-01-01 16:02] keroxp opened #4 "Tests"

[2019-01-01 16:03] keroxp opened #5 "Tx"

[2019-01-01 16:03] keroxp opened #6 "PubSub"

[2019-01-02 03:12] keroxp commented on #1
done #2

[2019-01-02 03:12] #1 closed

[2019-01-02 06:42] keroxp commented on #6
done

[2019-01-02 06:42] #6 closed

[2019-01-05 09:12] keroxp commented on #5
done

[2019-01-05 09:12] #5 closed

[2019-02-22 16:58] ddibiase opened #7 "Query operation?"
I'm experimenting with RedisGraph right now and was wondering if deno-redis had support for running the `GRAPH.QUERY MotoGP "QUERY HERE"` syntax. Assuming just passing in the full query via a .exec method would suffice.

I'm *just* diving into this now so apologies if this is a bit basic.

[2019-02-24 11:43] keroxp commented on #7
Not supported. Commands under https://redis.io/commands will be supported.

[2019-03-10 11:51] manyuanrong opened #9 "problem of encoding characters with Unicode"
[code]
![image](https://user-images.githubusercontent.com/7514524/54084603-c78e5180-436d-11e9-9552-4e267ff766af.png)

[2019-03-17 06:25] #9 closed

[2019-03-27 17:06] #7 closed

[2019-10-18 01:40] suguru03 opened #23 "Not working on parallel"
I started using the library and realized that it seems not working properly on concurrent requests.
I tested several scenarios, and it seems only to return the last command with the first result.

[code]

[code]

[code]

[code]

[code]

[2019-10-18 16:37] #23 closed

[2019-10-18 16:38] keroxp commented on #23
@suguru03 Thank you for reporting. Fixed and hope your codes works fine!

[2019-10-18 17:21] suguru03 commented on #23
Thanks for promptly fixing the issue! It works! 😄

[2019-11-08 22:25] suguru03 opened #25 "Not working on Deno v0.23.0"
I'm having this issue with Deno v0.23.0. Do you have any suggestions or any chance to fix it?
Now, I'm using v0.22.0 because of the issue.

[code]

[2019-11-09 16:15] #25 closed

[2019-11-22 04:13] suguru03 opened #30 "Feature Request: Support database and key prefix"
I would like to define the database and key prefix, like ioredis.
https://github.com/luin/ioredis#connect-to-redis

[2019-11-22 15:52] keroxp commented on #30
@suguru03 Desirable. If you are OK, I'll add you to collaborators, how about you?

[2019-11-22 18:15] suguru03 commented on #30
Thanks for the suggestion, I would love to be a collaborator!
I need the feature, so I can take a look at the issue 😄

[2019-11-23 06:43] keroxp commented on #30
@suguru03 Added!

[2019-11-23 18:27] suguru03 commented on #30
Thanks! 😄

[2019-11-28 12:42] #30 closed

[2019-11-28 14:44] keroxp opened #35 "Server API"
- https://redis.io/commands#server

[2019-11-28 14:45] #3 closed

[2019-11-28 14:45] keroxp opened #36 "Stream API"
- https://redis.io/commands#stream

[2019-11-28 14:46] keroxp opened #37 "Cluster API"
- https://redis.io/commands#cluster

[2020-02-26 22:26] suguru03 opened #50 "Compiler error when strict is false"
I'm having a compiler issue when `strict` is false.
[code]

![image](https://user-images.githubusercontent.com/8013633/75392522-13991580-58a1-11ea-8f15-de8293a28608.png)

https://github.com/keroxp/deno-redis/blob/58a197fbbc07aa0688afad59a872d5c719c41460/redis.ts#L528-L530

It would be nice if it checks the type properly, like `typeof reply !== "undefined"` instead of `reply != null`.

I also tried

[2020-02-27 07:48] keroxp commented on #50
@suguru03 PR welcome

[2020-02-28 06:36] #50 closed

[2020-03-06 19:31] mrkurt opened #54 "Broken auth assert"
The most recent commit might've broken the auth command. I'm getting this error now, the previous version worked just fine:

[code]

[2020-03-07 08:31] #54 closed

[2020-03-14 06:03] uki00a opened #62 "`Redis.bitfield` is not completely implemented yet."
https://redis.io/commands/bitfield

[2020-03-14 10:48] #62 closed

[2020-03-14 10:50] keroxp commented on #4
DONE

[2020-03-14 10:50] #4 closed

[2020-03-27 18:51] ebebbington opened #67 "Allow to Subscribe to An Array of Strings"
Not sure if this could work (haven't seen how your code is architectured), but I'd like to be able to subscribe to many channels using one sub object. For example, I want to be able to do the following:

[code]

I notice you can access the channel name when listening:

[code]

Which leads me to think maybe it's already possible? Other seems redundent?

[2020-03-27 19:02] ebebbington commented on #67
I guess you can do:

[code]

But it'd be nice to specify a list instead of doing the above or creating a new object to listen on a different channel?

[2020-03-27 19:12] ebebbington commented on #67
Also realised after some digging, it is possible but isn't clear in any of the documentation:

[code]
I also notice in the declaration of the `subscribe` method that it's parameter is a `string[]`, but when I try to use this, it fails:

[code]
Is it possible for it to accept an array of strings?

[2020-03-28 04:27] keroxp commented on #67
@ebebbington

Try this:
[code]

If you don't know ES Array spread syntax, see this: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Spread_syntax

[2020-03-28 14:11] ebebbington commented on #67
Oh that makes sense! I did see you using something like `subscribe(...something: string[])`, I’ll test it out then and I’m sure it’ll work, I’ll close this issue then

Thanks :) I’ll use your resource to look into the spread syntax more as I have never used or looked into it before

[2020-03-28 14:11] #67 closed

[2020-05-14 01:46] suguru03 opened #76 "Having a compiler error on Deno v1.0.0"
I'm having the issue on v1.0.0-rc2.
@keroxp could you take a look into the issue? 🙏
[code]

[2020-05-14 15:59] #76 closed

[2020-05-14 16:03] keroxp opened #78 "Roadmap to v1"
Deno@v1 has been released on 2020/05/13 and we adapted to them. But we have still many unsupported features (Cluster, Stream...) and Redis@v6 has also released recently. So we postpone v1 release of deno-redis for a while.

We are very happy to have new contributor for theirs unsupported features. Please contribute our project!

- [x] Server API #35
- [x] Stream API #36
- [x] Cluster API #37
- [ ]

[2020-05-19 18:54] andreastoyota commented on #78
would be great to support redis@v6 before the first 3. I can already use the stream api using `redis.executor`, but i can't use RESP3

when we `await redis.executor.exec('HELLO', 3);` it fails with:
`error: Uncaught Error: Invalid state`

[2020-05-21 16:31] reselbob opened #79 "Do you or are you planning to support redis.client.xgroup?"
I need a way to scale subscribers horizontally but make it so only one subscriber gets on message, not a whole bunch of subscribers getting that one message.

Lemme know, please. I am quite excited about Deno.

[2020-05-22 17:40] reselbob commented on #79
I have a project coming up in which using Deno/Redis will be perfect. But, I need to make it scale. I need to make it so that when a client subscribes to a Redis topic it receives a unique message from the topic. If multiple instances are picking up the same message, that won't due. Maybe I can do this already using this module in the current version, but I am ignorant as to how to do this. If so,

[2020-05-24 16:16] keroxp opened #80 "RESP3 support"
Reported by @andreastoyota In #78

error: Uncaught Error: Invalid state

[2020-05-24 16:19] keroxp commented on #79
@reselbob Do you talk about Streams API? If so, those apis haven't supported yet. I've never use those api. There are the plan but priority is still low.

[2020-05-24 17:07] reselbob commented on #79
Yes, the Streams API

Here is a sample project I wrote to demonstrate the use of Groups to organize, produce, and consume stream emission from Redis in which a single, unique message is consumed per consume

https://github.com/reselbob/k8sdemos/tree/master/wordstream

[2020-05-24 20:05] devalexqt opened #81 "Is it possible to connect with password to redis db?"
Is it authorization supported?

[2020-05-27 12:44] devalexqt commented on #81
Do you planing to add password options for connection to redis db?

[2020-05-28 00:41] devalexqt commented on #81
Any news?

[2020-05-29 16:16] devalexqt opened #83 "If connection to db lost then deno process die and pup/sub not resuming."
How to handle connection (and other) DB  error?
[code]
Then I kill redis db process on server (emulating of problem with connections) then this app just die...
[code]

And if use try/catch, after I restart DB on server, redis.get, pub, sub not resume connection and not working.

[code]
[code]

So how to handle pub/sub error and resume connection and working state?

[2020-05-31 09:28] #81 closed

[2020-06-04 03:46] mattbodman opened #84 "typo `prasePortLike` should be `parsePortLike`"
redis.ts:1468

[2020-06-04 18:24] suguru03 commented on #84
Hi @mattbodman !
Thanks for the issue, we welcome your PR! 😄

[2020-06-05 03:14] #84 closed

[2020-06-08 01:20] Terkwood commented on #36
I've made a humble start on this effort in #86.

[2020-06-09 15:06] devalexqt commented on #83
Any news?

[2020-06-09 18:28] Terkwood commented on #36
I haven't made it very far and will be offline for a number of days. If anyone wants to use the modest start I made in #86, I'm happy to give write access to my repository

[2020-06-11 21:23] aroooo opened #88 "Check if server is online"
Hi,

I'm new to JS/TS and Deno and do now how to do this.
This is my code but `then()` does not seem to be triggered, as I doesn't output anything in the console.

[code]

[2020-06-13 14:29] Terkwood commented on #36
Hi.  I'm back to work and it's proceeding very slowly.  But it is, slowly, proceeding.  :grin:

[2020-06-13 18:23] reselbob opened #89 "Info needed: BadResource: Bad resource ID"
Hi:

I run this code and it does indeed consume and report published messages.

[code]

But, I get an error  `BadResource: Bad resource ID`.

Any idea what this means. I will very much appreciate the help.

Thanks in advance.

[2020-06-14 17:20] aroooo commented on #88
Figured it out myself. Closing.

[2020-06-14 17:20] #88 closed

[2020-06-14 23:09] Xirui commented on #35
I will work on this in the coming days.

[2020-06-15 04:43] Terkwood commented on #79
Hi! #86 (implementation of Redis Streams API) will support this use case. I'll plan to add a test which demonstrates "one unique message per consumer"

[2020-06-15 04:52] Terkwood commented on #83
Nicely documented! I think the next step here is for another person to reproduce this(probably not so hard), and make a suggestion on how to improve it.

[2020-06-16 18:21] sebastienfilion commented on #83
As a first step, I created a test to reproduce the issue that @devalexqt reported. If it makes sense, I can look into suggesting a fix. https://github.com/keroxp/deno-redis/pull/91

[2020-06-17 05:28] ebebbington commented on #89
@keroxp I hope you don't mind me giving input...

@reselbob Can you provide the **exact** code you used? How you are running/using it? I assume the above is pseudo-code as well as it isn't valid code.

Usually I see `Bad Resource ID` when a subprocess using `Deno.run` isn't closed properly or passed invalid values

[2020-06-17 10:38] keroxp opened #93 "Port to org and core-maintainer switch"
I'm sorry for delayed response for issues/PR. I'm busy for other work and no times for see them now. I'm going to delegate core-maintainer to @uki00a soon and repository will be ported to somewhere. Thanks.

[2020-06-17 14:54] reselbob commented on #89
Here is the code: https://github.com/reselbob/denodemo/blob/master/pubbersubber/types/providers/redis.ts

Here is the project it runs within: https://github.com/reselbob/denodemo/tree/master/pubbersubber

Here is the test: https://github.com/reselbob/denodemo/blob/master/pubbersubber/tests/connection_test.ts , starting at line 63:

You need to have rabbitmq and redis running. I've put this all in

[2020-06-17 15:37] Terkwood commented on #79
There are a couple of tests covering this concern in the WIP pull request #86.

`test("unique message per consumer", async () => {`

and

`test("broadcast pattern, all groups read their own version of the stream", async () => {`

The broadcast pattern test shows how to accomplish the opposite of what you're asking (fan-out across all groups, useful for multiple services reading the same stream and

[2020-06-17 15:38] Terkwood commented on #79
We should be able to close this issue once #86 is merged.  Cheers, and thanks again for bringing this up!

[2020-06-17 18:27] ebebbington commented on #89
@reselbob Doesn't seem like any of those links work?

[2020-06-17 18:51] reselbob commented on #89
Sorry, the repo was private. Now it's not.

[2020-06-17 18:56] ebebbington commented on #89
No problem! Do you have the error stack it displays too?

[2020-06-17 19:18] reselbob commented on #89
[code]

[2020-06-18 08:07] keroxp commented on #93
Done. Now deno-redis is part of denolib!

[2020-06-20 07:38] uki00a commented on #89
@reselbob @ebebbington
Thanks for reporting this issue!
I was able to reproduce the same error.
I'll look into it.

[2020-06-20 07:43] uki00a commented on #89
## Steps to reproduce

I have a file named `mod.ts`:

[code]

When running the `mod.ts`, the following error occurs:

[code]

[2020-06-20 08:54] #89 closed

[2020-06-20 09:20] uki00a commented on #89
@reselbob Hi! This problem has been fixed at [v0.10.3](https://github.com/denolib/deno-redis/releases/tag/v0.10.3). Please update to it.

@ebebbington Thanks for your help! It really helps us.

[2020-06-20 16:01] ebebbington commented on #89
@uki00a Shame I didn't have the time to help out more!

[2020-06-20 17:08] reselbob commented on #89
I am happy I was able to help. Deno is important as is being able to use Redis with it! Thanks for your attention.

[2020-06-21 16:55] uki00a commented on #83
## Problem

I think the problem is that **once connection is lost, the subscriber never resumes**.

## Solutions

To resolve the above problem, I think that `deno-redis` should do the following things:

- provide a way to reconnect the lost connection.
- resume (all?) subscribers when reconnected.

## What about the other libraries?

**[ioredis](https://github.com/luin/ioredis/blob/master/API.md)*

[2020-06-21 16:58] uki00a commented on #83
@devalexqt @Terkwood @sebastienfilion I'm sorry for the delay response.
I've organized my thoughts.
If you have any other good ideas, please leave comments! :smile:

[2020-06-21 17:02] Terkwood commented on #83
I vote to resume all subscribers when reconnected.

If others like the idea of auto-reconnect, that sounds good to me, too.

[2020-06-22 01:14] Terkwood commented on #93
Thanks very much for getting this work off to a great start, @keroxp!! 🕺🏿

[2020-06-22 01:15] sebastienfilion commented on #83
@Terkwood that was my idea. I’ve been working on a solution for the past few days; finishing testing. I hope I can push tomorrow for you all to see.

[2020-06-22 10:40] #35 closed

[2020-06-24 19:36] uki00a opened #100 "suggestion: run CI for all PRs"
Now, CI is only executed for PRs tagged with the `CI start`.
I think we should run CI for all PRs to ensure that all commits pass the tests.

cc @keroxp @suguru03

[2020-06-24 20:35] Terkwood commented on #100
+1

[2020-06-26 19:18] halvardssm commented on #78
Hi @keroxp! Do you need any help with v6 support?

[2020-06-26 23:58] Terkwood commented on #78
At least RESP3 support #80 and Cluster API #37 are most likely still up for grabs, as no one has reported starting work.

ACL and MODULE commands are complete. (#90)

Redis 6 also ships with STRALGO command, which we don't have a ticket to track. I'll open that up and link it here.

These are just my suggestions based on watching the status of the repo  - if the core maintainers contradict me, tha

[2020-06-26 23:59] Terkwood opened #101 "Add STRALGO command"
This command is new in Redis 6.

https://redis.io/commands/stralgo

We may want to add this to the roadmap for v1 in #78, if the desire is to support all Redis 6 features.

[2020-06-28 16:07] #83 closed

[2020-06-28 16:38] #100 closed

[2020-06-28 16:40] uki00a opened #104 "re-enable testSubscribe4 test"
## Summary

- This test case depends on `redis-server`. However, in CI, `redis-server` doesn't exist in `PATH`.
- I don't want to complicate testing in a local environment.

## Related PRs
- #103
- #92

[2020-06-29 16:41] uki00a opened #105 "Redis@6 support"

[2020-06-29 18:42] reselbob opened #106 "Getting a new error on working code: Module "./connection.ts" has already exported a member named 'RedisConnectOptions'."
Hi:

When I run my tests a completely refresh my Deno cache in order to make sure I get all the latest libraries.

Today code that ran fine a week ago is erroring as follows

[code]

Tell me please, has something changed on your end, or is this my doing?

[2020-06-29 18:45] Terkwood commented on #106
I've seen this momentarily also, while working on #86. Didn't take time to track it down...

[2020-06-29 18:45] reselbob commented on #106
PS: here is the code in question:

`https://github.com/reselbob/denodemo/tree/master/pubbersubber`

Here is how to replicate:

`sh pubbersubber/tests/run_tests.sh`

[2020-06-29 18:55] #106 closed

[2020-06-29 18:56] Terkwood commented on #106
Thanks @uki00a! 🏁

[2020-06-29 18:57] uki00a commented on #106
@reselbob
This issue was resolved at #107.
Please refresh your Deno cache!

[2020-06-29 19:35] reselbob commented on #106
That fixed the first problem, but now the Bad Resource ID error is back

[code]

[2020-06-29 19:51] uki00a commented on #106
Hmm, can you test it using the fixed version of `deno-redis`? (https://denopkg.com/keroxp/deno-redis@v0.10.4/mod.ts)
If the same problem isn't reproduced, then it is probably introduced by #92.

[2020-06-30 14:38] Terkwood commented on #36
PR #86 is now ready for review!

[2020-07-02 20:04] #36 closed

[2020-07-02 20:13] uki00a opened #109 "[Feedback wanted] Return type for XREAD/XREADGROUP"
We now adopt `Map` as the return type for XREAD and XREADGROUP.
But I also think there are advantages of adopting `Record` over `Map`.
If you have an opinion about this, please leave a comment :smiley:

See also: #86

[2020-07-02 22:17] tumile commented on #37
Hi, I'd like to pick this up! Just opened a draft to track my progress.

[2020-07-05 20:44] tumile commented on #109
I think a Map here is a little overkill... Record is lighter, and we are only use string keys. For iterating, I don't see why a `for..in` loop is not sufficient...

[2020-07-05 23:57] tumile commented on #104
I believe we can mirror how [go-redis](https://github.com/go-redis/redis/blob/master/Makefile) does it. Have Redis download and set up in a local folder, and a `startRedis` function that starts a redis-server process from fixed `redisBin` and `redisConf` path. Local testing takes longer to start, but not complicated and works universally.

https://github.com/go-redis/redis/blob/dc52593c8c63bc2a057

[2020-07-06 21:01] uki00a commented on #104
Umm, this test seems to fail in my local machine... :sob:

[code]

@sebastienfilion Do you have any idea why?

[2020-07-06 23:41] uki00a opened #114 "Use a dedicated Redis server for testing"
#113

[2020-07-07 14:09] #104 closed

[2020-07-08 11:10] chout0000 commented on #37
[nice](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/) [one](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/)

[2020-07-08 11:12] chout0000 commented on #37
[awesome](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/) [one](https://pomeranian4homepups.com/pomeranian-puppies-for-sale/)

[2020-07-08 16:06] #37 closed

[2020-07-08 16:08] tumile commented on #114
I can use the redis setup code as in #110 to migrate other tests to use dedicated server. I can take this up!

[2020-07-08 17:18] uki00a opened #118 "ci: avoid building Redis everytime"
- #113
- https://github.com/actions/cache
- https://github.com/shogo82148/actions-setup-redis
  - Used by [node-redis](https://github.com/NodeRedis/node-redis)

[2020-07-08 19:28] tumile opened #119 "Fix beforeEach test"
The way `beforeEach` functions are executed now is not sufficient.
https://github.com/denolib/deno-redis/blob/96b27457004cbcdb1032066bd70d9527d352873e/tests/test_util.ts#L37-L40
The promise resulted from `f()` is not waited in
https://github.com/denolib/deno-redis/blob/96b27457004cbcdb1032066bd70d9527d352873e/tests/test_util.ts#L44
so putting client call in `beforeEach` results in error because cl

[2020-07-08 19:33] tumile commented on #119
So I tried fixing this

[code]

But the order of execution is not as expected
[code]

The "OK" is from `client.flushdb`. They are executed before all tests are run. pinging @uki00a for thoughts on how to resolve this 😅. Thanks in advance!

[2020-07-08 23:06] uki00a commented on #119
How about the following?

[code]

[2020-07-08 23:20] tumile commented on #119
I still got BadResource, which means client is closed before the `beforeEach` promise resolves

[2020-07-08 23:27] tumile commented on #119
Actually by putting the `promises.push()` inside Deno.test, it's run asynchronously and so if you log `promises` after `tests.forEach` it's empty

[2020-07-08 23:39] uki00a commented on #119
[code]

[2020-07-09 03:26] tumile commented on #119
The above didn't work either...
So after a few hours this is what I came up with, a little hacky but works. This ensures that beforeEach and tests are run sequentially.
[code]

[2020-07-11 17:20] #114 closed

[2020-07-11 17:20] #119 closed

[2020-07-11 17:44] uki00a commented on #106
@reselbob I'm sorry for the delay.
That problem has been fixed in [v0.11.1](https://github.com/denolib/deno-redis/releases/tag/v0.11.1).
Please update `deno-redis` to the latest version.

[2020-07-11 17:57] reselbob commented on #106
Thanks!

[2020-07-19 23:56] #118 closed

[2020-07-25 23:51] uki00a opened #128 "Support unix domain socket"
In Deno, Unix domain socket is still unstable.
We'll support it when it becomes stable.

[2020-07-29 19:24] tumile opened #130 "Add JSDoc and missing commands"
I think the current state of `command.ts` can be improved.
- We should add JSDoc to commands in RedisCommands. It could be useful to the user of the package.
- We are missing some commands, here are a few that I noticed
  - [ ] [client id](https://redis.io/commands/client-id), client kill, client list, client getname
  - [x] [lpos](https://redis.io/commands/lpos) (#171)
  - [x] [scan](https://redi

[2020-07-29 19:33] tumile opened #131 "Enforce at least one argument in commands"
Variadic arguments are heavily used in the package. However, I think the way they are written now is quite error-prone. For example `del`
https://github.com/denolib/deno-redis/blob/4ad600278d9c6aeccbbf624eb2593d895ebb9e1c/command.ts#L50
and most other commands require at least one argument. However, with the way the function is written above it's easy to call `del()` without any arguments, and an

[2020-07-29 19:38] Terkwood commented on #131
Seems like there's very little downside to making this change. It's a breaking change, yes, but gives a clear safety advantage.

[2020-07-31 15:59] tumile commented on #131
Like @Terkwood said this is a breaking change to the public API so I want to hear your thoughts @uki00a before planning on implementation.

[2020-07-31 19:11] tumile opened #133 "Value type can be number"
For example https://github.com/denolib/deno-redis/blob/4ad600278d9c6aeccbbf624eb2593d895ebb9e1c/command.ts#L45
should be
[code]
and in most places, key/value/element/member/argument can be both string and number.

[2020-08-01 01:40] uki00a commented on #131
I agree with this change :+1:
We haven't reached a major release yet, so I'm open to breaking changes :smile:

[2020-08-01 01:40] uki00a commented on #131
**node-redis**

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7032a7ec67198833fcbfd18a3cc62db419e0503d/types/redis/index.d.ts#L343

**ioredis**

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/7032a7ec67198833fcbfd18a3cc62db419e0503d/types/ioredis/index.d.ts#L985

**go-redis**

https://github.com/go-redis/redis/blob/3fbf7df0144b53a5c5af591df1641527c78b94e6/commands.go#L81

[2020-08-01 06:42] uki00a commented on #131
PS) On second thought, I think the current behavior is not wrong :thinking:

## Reason 1: There may be a situation where users want to use an array

[code]

## Reason 2: Some other clients behave the same way as this module

Fo example, go-redis and redis-cli gives the same error when no key passed:

**main.go**

[code]

[code]

[2020-08-02 23:03] tumile commented on #131
Good point. Not being able to use spread is quite painful. The error being thrown was the reason I opened this issue, I thought we could leverage type checking to protect users from themselves. But seeing that it's actually expected behavior in other packages, maybe we should follow the crowd here.

[2020-08-02 23:03] #131 closed

[2020-08-13 22:55] uki00a opened #136 "[Feedback wanted] Naming style"
`deno-redis` currently uses the snake case style for methods and options.
However, in JavaScript, the camel case style seems to be more common.
If you have an opinion about this, please leave a comment :smiley:

[2020-08-19 16:44] braddunbar commented on #101
I'd like to take this issue if no one else is!

[2020-08-19 17:01] Terkwood commented on #136
I believe camelCase will provide the highest level of conformity to what's found in code bases online. That said, I think the most important thing is to make deno-redis consistent *with itself* (and we might already be there)

[2020-08-19 17:03] Terkwood commented on #101
This is a relatively new command added in the most recent major release. uki00a will have the final say, but you're probably not going to duplicate anyone else's work if you start on it. Thank you for volunteering your time!

[2020-08-19 17:04] Terkwood commented on #133
I like this approach and believe it will be helpful for end users

[2020-08-19 17:10] Terkwood commented on #130
Thanks for raising this. Although deno-doc is a bit rudimentary and doesn't currently JsDocs from our interface, one nice benefit of documenting the commands is that editors (at least VsCode) *can* expose the descriptions during the course of programming. So if anyone finds the time to improve our document coverage, it will definitely benefit some of our users.

https://deno.land/manual/tools/docu

[2020-08-20 02:20] Xirui commented on #136
I agree with @Terkwood. IMHO, consistency within a repo is good enough.

When the DenoLib community (which this repo is part of) has formalised a convention, we could then think about consistency cross repos.

[2020-08-30 17:41] braddunbar commented on #80
I'd like to take a stab at this one too!

[2020-08-31 15:15] #101 closed

[2020-09-10 11:25] xcatliu opened #143 "Consider using Pagic to build the website?"
[Pagic](https://pagic.org) is a static site generator powered by Deno + React

Here are some demos:

- [pagic.org](https://pagic.org)
- [Deno X ranking](https://yoshixmk.github.io/deno-x-ranking/)
- [TypeScript 入门教程](https://ts.xcatliu.com/)

If it is possible to use pagic to build the website, I would like to create the pull-request

[2020-09-25 09:23] hkong opened #145 "redis.executor.exec can't run redis module command JSON.GET"
I'm trying to use `redis.executor.exec()` to run the json module (rejson).  I can verify in the redis-cli that `redis.executor.exec("JSON.SET", "rejsonObj", JSON.stringify(obj))` correctly sets `rejson` to the Object, obj.  And indeed, the return value from `redis.executor.exec()` is ["status", "OK"].

However, running `redis.executor.exec("JSON.GET", "rejsonObj"` returns `[ "rejsonObj" ] ok` inst

[2020-09-27 03:11] uki00a commented on #145
@hkong Thanks for reporting this issue! I tested it with v0.13.0 and it seems to work properly:

[code]

Output:

[code]

[2020-09-27 03:14] uki00a commented on #145
@hkong Maybe this is what you want to do?

[code]

Current result (not expected):

[code]

Expected result:

[code]

or

[code]

[2020-09-27 21:02] prcdpr opened #146 "TS1371 [ERROR]: This import is never used as a value and must use 'import type' because the 'importsNotUsedAsValues' is set to 'error'."
I'm getting following errors while trying to use deno-redis:

[code]

[2020-09-28 18:59] hkong commented on #145
@uki00a Thank you so much for responding.  I tried printing the results just now using `console.dir` and you are absolutely right!.  And as you guessed, I'm parsing the wrong thing.  Parsing it this way, now gives me back the object!

[code]

Thank you so much for your attention!

[2020-09-28 18:59] #145 closed

[2020-09-28 21:34] hkong commented on #146
I upgraded deno to the latest version (1.4.2) and I'm getting the same error.  As a temporary workaround, you can change deno to an earlier version.   Deno 1.3.3 works for me:  `deno upgrade --version 1.3.3`

[2020-09-28 22:58] prcdpr commented on #146
Another workaround is copying whole deno-redis to your project and fixing imports by hand. But I would rather not stay like that

[2020-09-29 00:20] hkong commented on #146
@prcdpr if you've already done that, please do a pull-request.  I would love to use the latest version of deno, but I don't have time to update this library right now.

[2020-09-29 00:31] hkong commented on #146
Thanks @prcdpr !!

[2020-09-29 13:12] uki00a commented on #146
This problem has been fixed in [v0.13.1](https://github.com/denolib/deno-redis/releases/tag/v0.13.1). Thanks @prcdpr for fixing this problem!

[2020-09-29 13:12] #146 closed

[2020-10-24 16:08] ebebbington opened #151 "Moving: Under an Org"
Hey! :)  I've been speaking about deno drivers in the deno discord, and thought it might be a good idea to have a single org to hold all drivers (sql, mongo, redis etc), eg `denodrivers/postgres`, `.../mongo`, `.../sql`, `../sqlite`. I was curious on how you felt about moving your sqlite repo? The idea came about as the mongo driver for deno is unmaintained now (and a deno plugin so very unstable)

[2020-10-24 16:17] ebebbington commented on #151
FYI here are some links:
Org: https://github.com/denodrivers
Discord: https://discord.gg/FHtas8

[2020-10-27 15:18] uki00a commented on #151
@ebebbington Hi! I'm one of maintainers of deno-redis. Personally, I think it would be a good idea :+1: However, the original author of deno-redis is @keroxp. So I'd like to hear his opinion as well :wink:

@keroxp What do you think about moving deno-redis to other org?

[2020-10-27 15:20] uki00a commented on #151
@keroxp What do you think about moving deno-redis to other org?

[2020-11-11 16:48] oplik0 opened #153 "redis uri support"
After searching for it in the code, it appears that this library only supports connecting to redis via hostname and port.
However, there are two uri schemes that can be used for redis connections: [redis](https://www.iana.org/assignments/uri-schemes/prov/redis) and [rediss](https://www.iana.org/assignments/uri-schemes/prov/rediss) (for connections using TLS).

These URIs look like this:
[code]

Fr

[2020-11-14 07:46] uki00a commented on #153
@oplik0 Thanks for your suggestion! I think having support for the redis url is good :smiley:

The `connect()` function automatically executes `AUTH` and/or `SELECT` commands if `password` and/or `db` options were specified in [RedisConnectOptions](https://doc.deno.land/https/deno.land/x/redis@v0.13.1/mod.ts#RedisConnectOptions). So I think it would be good to add a simple utility to parse the red

[2020-11-14 11:45] uki00a commented on #143
@xcatliu Thanks for your suggestion! Currently there is no documentation other than README.md. So I don't plan to use pagic at this time :smiley:
However, I'll keep this issue open, because we may use it in the future :wink:

[2020-11-15 12:04] #153 closed

[2020-12-03 18:27] ebebbington commented on #151
added `mysql` to the list

[2020-12-04 09:48] uki00a commented on #151
@ebebbington I'm sorry for the late reply. I had a conversation with @keroxp. He is also in favor of moving the repository :+1: What should we do next?

[2020-12-04 10:05] ebebbington commented on #151
@uki00a Cool! :D No problem for the late reply :) As of what to do next, all you'd need to do is move the repo under the denodrivers args. If @keroxp could join the discord channel (if that is cool with them) that would be great so i can add them to the redis team in Discord. Plus, it'll give a platform for users to chat

I will invite both of you to the org right now, and set up the `redis` team,

[2020-12-04 10:20] uki00a commented on #151
I've transferred `deno-redis` to `denodrivers` organization!

[2020-12-04 10:43] uki00a commented on #93
P.S. `deno-redis` is now part of `denodrivers` and renamed to `redis`!

[2020-12-04 10:44] ebebbington commented on #151
Woop woop! I'll close this 'issue' then :) The team and channels and have been properly setup now :)

[2020-12-04 10:44] #151 closed

[2020-12-04 11:24] uki00a opened #160 "Implement exponential backoff retry strategy"

[2020-12-29 13:04] uki00a opened #164 "`[stream] xclaim and xpending, all options` test seems to be flaky"
https://github.com/denodrivers/redis/runs/1523779037
[code]

[2020-12-29 13:12] Terkwood commented on #164
Oo, interesting, did this test behavior change recently? Or has it been misbehaving for a while now?

[2020-12-29 13:20] Terkwood commented on #164
I see this going back to https://github.com/denodrivers/redis/runs/1523779037?check_suite_focus=true (20 days ago), at least

[2020-12-29 13:21] Terkwood commented on #164
...and even before that.  And some other tests are passing in between the failures.  So, yes, it's definitely not predictable enough.  I'll work on reproducing this locally

[2020-12-29 13:38] Terkwood commented on #164
Not surprisingly, this works locally on an aging MacBook Pro.  I would guess that my local environment has a bit more power than the Github Actions environment.  My next step would be to look at the timing expectations around the Github Actions test runs... It's been a little while since I've been in this code base, but this seems like a classic integration testing situation 😁 🤓 ⌚

[2020-12-29 13:40] Terkwood commented on #164
We already have `delay` statements in the run.  I would like to push a change set which increases these values and then see how it performs under github actions

`    await delay(5);`

[2020-12-29 13:43] uki00a commented on #164
This worked well on my local machine! (Ubuntu 20.04) I'll look into it too :wink:

[2020-12-29 13:44] Terkwood commented on #164
Yeah, I appreciate that Microsoft has given us such a nice tool in Github Actions, but their compute power is limited!  I proposed a fix in #165, which apparently passes on the first try here in Githubland.  Let me know what you think.

[2020-12-29 14:27] #164 closed

[2020-12-30 06:06] uki00a commented on #109
My concern was that `Record` would not be able to preserve the order of fields in the stream entry (The order of properties returned by `for-in`, `Object.keys`, etc. was not guaranteed **until ES2020**).

However, I believe that [ES2020's 'for-in mechanics' proposal](https://github.com/tc39/proposal-for-in-order) will wipe off this concern :relieved:

Therefore, I would like to adopt `Record` over

[2021-01-02 05:47] #79 closed

[2021-01-03 08:12] #109 closed

[2021-01-10 06:47] uki00a commented on #130
Thank you for rasing this issue! :+1: I'll split this issue to make it easier to track progress! :wink:

[2021-01-10 06:48] uki00a opened #173 "Add more JSDoc comments"
We should add more JSDoc comments to `RedisCommands` (command.ts). It could be useful to the user of the package.

[2021-01-10 06:50] uki00a opened #174 "Client API"
- [ ] CLIENT CACHING
- [ ] CLIENT GETNAME
- [ ] CLIENT GETREDIR
- [x] CLIENT ID (#172)
- [ ] CLIENT INFO
- [ ] CLIENT KILL
- [ ] CLIENT LIST
- [ ] CLIENT PAUSE
- [ ] CLIENT REPLY
- [ ] CLIENT SETNAME
- [ ] CLIENT TRACKING
- [ ] CLIENT TRACKINGINFO
- [ ] CLIENT UNBLOCK
- [ ] CLIENT UNPAUSE

[2021-01-10 06:52] #130 closed

[2021-01-19 10:30] transtone opened #179 "bundle error"
`test.js`:
[code]

use bundle command: ` deno bundle test.js --unstable test.bundle.js`

then run `deno run -A test.bundle.js`

got error:
[code]

[2021-01-20 12:08] uki00a commented on #179
@transtone Thank you for opening the issue!
What version of Deno are you using? I couldn't reproduce this issue with Deno v1.6.3 and v1.7.0... :thinking:

[2021-01-20 16:43] transtone commented on #179
It with Deno v1.6.3 in ubuntu 2004.

[2021-01-23 03:38] #179 closed

[2021-02-07 09:04] uki00a commented on #136
Since deno v1.7.1, the `deno lint` command recommends camel case style for variables/functions. I'd like to follow the deno lint style as much as possible, so I'll change naming to camel case style before v1 is released.
[code]

https://github.com/denodrivers/redis/pull/182/checks?check_run_id=1844485219

[2021-02-07 15:55] uki00a opened #183 "Implement MONITOR command"
https://redis.io/commands/monitor

[2021-02-11 08:11] #136 closed

[2021-02-18 22:43] shamblesides opened #189 "get/set values from Uint8Array"
It looks like this library mainly deals with strings, but I have some binary data that I'm storing in Redis. Is there currently a way to store/retrieve it, or is that not implemented?

[2021-02-20 14:19] uki00a commented on #189
Hi @shamblesides, thank you for reporting this issue! `deno-redis` does not currently support `Uint8Array`, but I think it would be nice to support it. :smiley: I'll consider implementing it! :+1:

Related to #133.

[2021-02-20 23:38] shamblesides commented on #189
Sounds good! In the meantime I wrote my own custom minimal redis client using some of the code here as reference; hooray for the simplicity of RESP!

[2021-02-28 11:19] uki00a opened #204 "testSubscribe4 seems flaky"
https://github.com/denodrivers/redis/runs/1997855945
[code]

[2021-03-04 17:44] chovy opened #206 "how to set expire?"
Most redis clients have `redis.setex(key, data, seconds)` to expire in `seconds`

Is it possible?

[2021-03-05 14:13] uki00a commented on #206
Hi @chovy!

Yes, you can execute `SETEX` command as follows:

[code]

[2021-03-27 01:40] #133 closed

[2021-03-27 01:40] #189 closed

[2021-03-27 02:34] uki00a commented on #189
Limited support for getting/setting `Uint8Array` values has been added in [v0.21.0](https://github.com/denodrivers/redis/releases/tag/v0.21.0)!

You can use `BulkReply#buffer` (returned by `Redis.executor.exec`) to get `Uint8Array` values:

[code]

[2021-03-27 02:38] uki00a commented on #133
Support for the number type has been added in [v0.21.0](https://github.com/denodrivers/redis/releases/tag/v0.21.0)!

Thanks for the suggestion!

[2021-03-28 02:01] shamblesides commented on #189
works for me! thank you!

[2021-04-04 14:21] uki00a opened #220 "Implement ClusterExecutor"
https://redis.io/topics/cluster-spec

[2021-04-12 12:36] akhimchak opened #223 "pipeline.hgetall issue"
[code]
But hashes are exists.
Other command I didn't test.

[2021-04-16 14:33] transtone opened #224 "please support compile in deno-1.9.0, got error after compile"
deno-1.9.0

when run with `deno run`, it works fine.

when run after compile, it got error:
[code]

`vendor/https/deno.land/std` version is 1.8.2, so  `denodrivers/redis` not suppose `>deno-1.8.2` ?

downgrade to `deno-1.8.2`, it not work.
downgrade to `deno-1.7.5`, it works.

[2021-04-17 07:55] #224 closed

[2021-04-17 08:01] uki00a commented on #224
Hi @transtone! I've added support for deno@v1.9.0 in [deno-redis@v0.22.0](https://github.com/denodrivers/redis/releases/tag/v0.22.0). Thanks for reporting this issue!

[2021-04-17 09:45] transtone commented on #224
[code]
the error is still there with https://github.com/denodrivers/redis/releases/tag/v0.22.0

[2021-04-17 10:55] uki00a commented on #224
Hmmm, I was able to reproduce it too. :cry:  It seems to be a problem with the `deno compile` command itself. :thinking:

https://github.com/denoland/deno/issues/10218

[2021-04-17 11:35] uki00a commented on #223
Hi @akhimchak, thank you for opening this issue! I'd like to know about the behaviour you expect.

In that case, the `flush()` method currently returns results in the form of `Array<ArrayReply>`. In contrast, your expected result is `Array<Array<string>>`. Am I understanding your intension correctly? :thinking:

[2021-04-18 20:52] akhimchak commented on #223
Hi @uki00a, I mean data exists in the redis, but when executed listed commands hashes are empty.
v0.19.0 works' fine in that case.

[2021-04-24 07:02] transtone commented on #224
It solved in `deno-1.9.2`

[2021-04-25 15:20] uki00a commented on #223
I've opened the PR #227 to fix this issue. Could you please review it when you have time? :slightly_smiling_face:

[2021-06-22 20:02] #206 closed

[2021-07-10 06:27] uki00a opened #237 "BREAKING: Remove CommandExecutor.connection"

[2021-07-11 06:25] #220 closed

[2021-07-11 06:27] uki00a opened #238 "Add more tests for the Redis Cluster client"

[2021-07-22 15:49] aegooby commented on #80
Any updates on when this is coming? I'd be happy to contribute if needed.

[2021-07-26 20:36] orvit-png commented on #105
Any updates on this?

[2021-08-17 14:00] uki00a opened #250 "Run `deno test --doc` in CI"

[2021-08-23 13:14] #250 closed

[2021-09-15 14:44] uki00a opened #256 "BREAKING: Stop exposing `Redis.executor`"
deno-redis provides `CommandExecutor` as a low-level interface to Redis and it can be accessed via `Redis.executor`:

[code]

However, I haven't fully thought the interface of `CommandExecutor` yet, so there is a possibility that breaking changes will be made to it in the future. I'd like to prevent such incompatible changes as much as possible.

For this reason, I' m planning to treat `CommandExe

[2021-09-29 07:07] Strongbyte-ES opened #259 "Setting commands on a transaction returns a Promise"
We have e.g.:

[code]

I'm unsure why e.g.`tx.lpush` returns a `Promise` uncesssarily as this is not an async operaion surely? I expected to return the transaction to enable chaining e.g.:

[code]

If i can assist with such improvements, let me know.

[2021-10-09 12:31] #256 closed

[2021-11-15 16:38] uki00a opened #272 "Re-enable test "SubscriptionShouldNotThrowBadResourceErrorWhenConnectionIsClosed""
Disabled in #271

[2021-11-15 16:44] uki00a opened #273 "tests for experimental/cluster are flaky"
https://github.com/denodrivers/redis/runs/4214401121?check_suite_focus=true (#271)

[2021-11-27 10:41] #273 closed

[2021-12-12 15:22] lilnasy opened #281 "Allow authenticating with the `connect` function"
The connect function only accepts hostname and port. Authentication has to be manually done as another step. This may mean you need to write some conditional logic when working on a production environment with authentication and a dev environment without.

I propose we work this conditional logic into the connect function, with the following API.

[code]

This API is consistent with the URL interf

[2021-12-30 16:14] sawadyecma opened #283 "cluster client is not working on READEME.md ?"
I tried the section for cluster on https://github.com/denodrivers/redis/blob/master/README.md .
But It didn't work well.

The error message was as follow.

[code]

Also I tried experimantal cluster mod, It worked well.
https://github.com/denodrivers/redis/blob/master/experimental/cluster/README.md

Is it needed to be fixed for the cluster client?
Or is the section for cluster on https://github.com

[2021-12-31 06:50] uki00a commented on #281
@lilnasy I' m sorry for the late reply

In that case, you can use the `parseURL()` function as follows:

[code]

[2021-12-31 07:08] uki00a commented on #283
@sawadyecma Thanks for the report!

I think it would be better to fix the section for cluster on [README.md](https://github.com/denodrivers/redis/blob/master/README.md) :ok_man:  If you want to run commands to Redis Cluster, you need to use [the experimental/cluster module](https://github.com/denodrivers/redis/blob/master/experimental/cluster/README.md) instead of the normal redis client

[2022-01-02 11:29] #281 closed

[2022-01-03 07:59] uki00a opened #284 "fix: `zadd` with `opts` argument does not work"
https://discord.com/channels/768918486575480863/784360181278572545/925896575899807744

[2022-01-03 08:02] #284 closed

[2022-01-09 11:18] ewired opened #286 "zaddIncr syntax error"
It looks like zaddIncr may be affected by the same issue as #284.
[code]

[2022-01-23 17:18] #286 closed

[2022-01-23 17:24] uki00a commented on #286
Thanks for the report @ewired! This is now fixed in the latest version ([v0.25.2](https://deno.land/x/redis@v0.25.2))

[2022-02-19 09:33] uki00a opened #293 "feat: Add support for whatwg streams to `RedisSubscription`"

[2022-03-28 20:09] uki00a opened #299 "BREAKING: Chane `RedisSubscription#close()` to return `void`"

[2022-04-06 22:13] iuioiua opened #300 "Unable to connect to Redis with correct credentials"
I'm attempting to use a newly created Redis user. However, I'm getting the following error:
[code]
I'm essentially connecting to the following client via the following:
[code]
When using my Redis default user, this code works fine. However, when using the new user, it doesn't. I know the `REDIS_URL` environmental variable is correct because I've used it to access Redis via `redis-cli -u <url>`.

P

[2022-04-12 19:53] uki00a commented on #300
@isyouaint Thanks for the report! Could you tell us the format of the URL set in the `REDIS_URL` variable so we can investigate the cause in more detail?

[2022-04-18 00:01] isyouaint commented on #300
As well, I tried connecting without using `parseURL` and got the same error. Format of the `REDIS_URL` variable is:

[code]

[2022-04-18 00:19] isyouaint commented on #300
@uki00a, I added a username parameter to `RedisConnection.authenticate` and was able to get this working. Reading [this](https://github.com/redis/redis-doc/blob/master/commands/auth.md) gave me the idea. Hopefully, this helps come to a solution.
Before:
[code]

After:
[code]

[2022-04-18 22:55] Xirui commented on #300
@isyouaint I guess you are using Redis 6.

The code in your Before block only works with Redis versions prior of 6.

[2022-04-19 05:04] isyouaint commented on #300
Any issue with me adding this functionality in a PR?

[2022-04-19 22:17] uki00a commented on #300
@isyouaint A PR will be welcome! :+1:

[2022-04-27 00:39] zifeo opened #304 "Ability to use xread and pipeline/tx in parallel"
This seems to only be a restriction/issue? with pipeline/tx, simple commands seem to work. Currently ends up in multiple errors: `Invalid state`, `-ERR Protocol error: invalid multibulk length`, `raw.split is not a function or its return value is not iterable` and similar.

[code]

[2022-05-15 12:16] #223 closed

[2022-05-28 14:53] zifeo commented on #304
Note that simple commands will be delayed and cannot happen in parallel of xread "blocks". The workaround is to use two connections and might be worth clarifying in the documentation.

[2022-05-31 11:22] scott-ling commented on #300
suggest you update `RedisConnectionOptions` to support `username?: string` and also update `authenticate' function to check for `username` and adjust redis command as needed for password/default auth `"AUTH", password` and if exists `"AUTH", username, password`

not sure if this is being progresses, if not I am more than willing to make the carious changes as a PR let me know, as I am kind of maki

[2022-05-31 15:44] scott-ling commented on #300
@uki00a all good, I will add a couple tests for the new situations

1. password passed no username passed
2. password and username passed

Will let ya know when its ready to roll, I should be able to complete this tonight once other work is done (I am on GMT)

Thanks for the quick turn-around, this was a breaking issue for me so assume its same for a few others.

-Scott

[2022-05-31 19:34] iuioiua commented on #300
@scott-ling I haven’t yet started work on a PR, so I guess it’s yours 🤙🏾

[2022-06-03 10:15] scott-ling commented on #300
Sorry for delay, PR made.

[2022-06-03 13:38] #300 closed

[2022-06-04 11:32] #160 closed

[2022-06-04 12:21] uki00a opened #313 "Remove "@ts-expect-error" comments and improve types"
In #312, some `@ts-expect-error` comments are added. To remove them, it is necessary to improve the type definitions of some of the methods:

- [ ] `Commands.geopos`
- [ ] `Commands.stralgo`
- [ ] `Commands.brpoplpush`

[2022-06-04 12:27] uki00a opened #314 "Remove `RedisConnectionOptions.name`"
https://github.com/denodrivers/redis/blob/d3741eebb937267cc4864519689cc33d896be3aa/connection.ts#L31

[2022-06-13 21:33] uki00a opened #316 "Consider interpreting a Null Array as `null` rather than an empty array"
Currently, `deno-redis` treats the following reply as an empty array:

[code]

`deno-redis` might treat this as `null`, as drivers in other languages do :thinking:

---

Ref: https://github.com/redis/redis-doc/blob/b93a6dcf572fb11cc03c0feb3e82366d39656835/docs/reference/protocol-spec.md#resp-arrays

[2022-06-22 05:40] 6ixfalls opened #318 "Connection stops responding"
For some reason, my Redis connections randomly stop responding, even though `redis.isConnected` and `redis.isClosed` return true and false, indicating that the connection is still open. When running any commands though, such as `await pipeline.flush()`, the promise doesn't resolve and the command isn't executed. Running `CLIENT LIST` on the Redis server when the connection begins to stop respondin

[2022-07-25 11:44] uki00a opened #320 "test: `pubsub` > `retry` seems flaky"
[code]

https://github.com/denodrivers/redis/runs/7499043692?check_suite_focus=true

[2022-07-31 12:25] uki00a opened #322 "BREAKING: Change `BulkNil` from `undefined` to `null`"

[2022-07-31 12:35] #316 closed

[2022-08-01 07:45] ClaudiuCeia opened #324 "Suggestion: Enforce using `deno fmt`"
Hi team,

I sent a [small PR](https://github.com/denodrivers/redis/pull/323) today and noticed that formatting is not enforced in any way. Out of habit I ran `deno fmt` only to see quite a few unrelated changes that I had to manually revert.

I think it would improve dev experience if contributors were expected to use [`deno fmt`](https://deno.land/manual/tools/formatter) when submitting patches (

[2022-08-01 07:50] ClaudiuCeia opened #325 "Suggestion: Use docker-based redis for tests"
Hi team,

I sent a [small PR](https://github.com/denodrivers/redis/pull/323) today and I was confused about not being able to run tests. I eventually figured out that the tests expect docker to be installed locally. I understand why the tests need to be integration tests, but I think it would help if tests could run against a docker-based redis instance (or cluster) to avoid installing and messing

[2022-08-08 11:39] uki00a opened #326 "BREAKING: Rename `withScore` to `withScores`"
https://github.com/denodrivers/redis/blob/3b01a5ad985abc38d3679aac84fcb2d231841d64/command.ts#L165

[2022-08-28 20:51] uki00a opened #329 "Re-enable `deno task make_mod` in CI"
In #328, `deno task make_mod` and `git diff --exit-code` were disabled

These commands should be re-enabled

[2022-08-29 21:03] #322 closed

[2022-09-22 07:22] zifeo opened #333 "BulkNil and execArrayReply breaking xread"
Currently `execArrayReply` casts its return to `Array<T>` but because of the change with `BulkNil` the function does not always return an array but also null. This breaks at least `xread` when the command return nothing (and likely also `xreadgroup`).

Example:
[code]

Produces:
[code]

[2022-09-28 06:13] darrachequesne opened #335 "PubSub with binary messages"
Hi!

Is there a way to put a subscription in binary mode?

[code]

Node.js with [redis](https://github.com/redis/node-redis):

[code]

[2022-10-17 14:32] uki00a commented on #335
@darrachequesne Hi, sorry for the late response.

`deno-redis` currently doesn't support PubSub with binary messages. However, I'll consider supporting this as it would be useful :+1:

[2022-11-08 03:15] manyuanrong opened #346 "[feat] keepalive feature"
I have been working on trying to use Deno in the production environment to promote the ecological improvement and development of deno. Recently, I launched an application using redis in the production environment.

In practical applications, we usually prefer to share a redis connection for multiple requests. For this, we usually implement a singleton or a connection pool. To promote the use of th

[2022-11-08 03:20] manyuanrong opened #347 "[feat] automatically reconnect when interrupted"
After the keepalive feature, an effective feature is required for use in the production environment is the reconnection mechanism. If the redis server itself remains stable, keepalive is very effective, but redis has a short downtime and is temporarily unavailable. It is critical to be able to automatically reconnect when the service is ready again